/*Reset starts*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*Reset ends*/





/*Navbar styles starts*/
.navbar{
	position: fixed;
	width: 100%;
	padding: 30px 0;
	padding: 20px;
	transition: 0,3s ease;
}
.navbar.sticky{
	padding: 30px 0;
	background-color:#903834  /*#21434c;*/
}
/*Menu button styles start*/
.menu-btn{
	color:#fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}
/*Menu button end*/
.max-width{
	max-width: 1300px;
	margin: auto;
	padding: 0 75px;
}
.navbar .max-width{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-left: 28px;
}
.navbar .menu li a:hover{
	color: #e34d4d;
	transition: 0.3s ease;
}
.max-width .header__caption a{
font-family: 'Merriweather', serif;
font-size: 40px;
font-weight: 700;
color: #fff;
}
/*Navbar styles ends*/

/*Home styles starts*/
.home{
	display: flex;
	background: url(https://images.unsplash.com/photo-1552940519-2c2c6f9064c5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1341&q=80) center no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
	min-height: 550px;
	font-family: 'Merriweather', serif;
	font-size: 30px;
}
.home .max-width{
margin: auto 0 auto 40px;
}
.home .home-content .text_1{
	font-size: 27px;
}
.home .home-content .text_2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text_3{
	font-size: 40px;
	margin: 5px 0;
}
.text_3 span{
	color: #d43347;
}
.home .home-content a{
	display: inline-block;
	background-color: #903834;
	font-size: 25px;
	color: #fff;
	border: 2px solid #d43347;
	border-radius: 6px;
	padding: 12px 25px;
	margin-top: 20px;
	transition: all 0.3 ease;
}
.home .home-content a:hover{
	color: #fff;
    background: none;
}
/*Home styles ends*/



/*About styles starts*/
section{
	padding: 100px 0;
}
.about{
	font-family: 'Merriweather', serif;
	height: 100vh;
}
.about .title{
	text-align: center;
	font-size: 75px;
	font-weight: 600;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
.about .about-content{
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.about .about-content .left{
	width: 45%;
}
.about .about-content .left img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 8px;
border: 4px solid #903834;
}
.about .about-content .right{
	width: 55%;
}
.about .about-content .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right span{
	color: #d92525;
}
.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{
	display: inline-block;
	background-color: #903834;
	font-size: 25px;
	color: #fff;
	border: 2px solid #d43347;
	border-radius: 6px;
	padding: 12px 25px;
	margin-top: 20px;
	transition: all 0.3 ease;
}
.about .about-content .right a:hover{
	background: none;
	color: #d92525;
}


/*About styles ends*/





























































/*media queries start*/
@media (max-width: 1300px) {
	.home .max-width{
        margin-left: 0px;
	}
}
@media (max-width: 1104px) {
	.about .about-content .left img{
        height: 350px;
        width: 350px;
	}
}


@media (max-width: 947px){
	.max-width{
		padding: 0 50px;
	}
    .menu-btn{
    	display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
    	content: "\f00d";
    	    }
	.navbar .menu{
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background-color: #111;
		text-align: center;
		padding-top: 70px;
		transition: 0.35s ease;
	}
	.navbar .menu.active{
	left: 0;

    }
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin:  20px 0;
		font-size: 25px;
	}
	.home .home-content .text_2{
	font-size: 60px;
	
    }
   .home .home-content .text_3{
	font-size: 30px;
	margin: 5px 0;
    }
    .max-width{
    	max-width: 800px;
    }
    .about .about-content .column{
    	width: 100%;
    }
    .about .about-content .left{
    	display: flex;
    	justify-content: center;
    	margin: 0 auto 60px;
    }
    .about .about-content .right{
    	flex: 100%;
    }

    }

    @media (max-width: 690px) {
    .home .home-content .text_2{
	font-size: 50px;
    }
   .home .home-content .text_3{
	font-size: 25px;
	margin: 5px 0;
    }
    .home .home-content a{
	font-size: 20px;
	padding: 7px 23px;
    }
    }

    @media (max-width: 500px) {
   .home .home-content .text_2{
	font-size: 40px;
	
    }
   .home .home-content .text_3{
	font-size: 20px;
	margin: 5px 0;
    }
   .home .home-content a{
	font-size: 16px;
	padding: 5px 20px;
    }


    @media(max-width: 420px){
    .home .home-content .text_1{
       margin-top: 20px;
       font-size: 16px;
    }
    .home .home-content .text_2{
	font-size: 17px;
	margin-top: 4px;
	
    }
   .home .home-content .text_3{
	font-size: 14px;
	margin: 5px 0;
    }
   .home .home-content a{
	font-size: 14px;
	padding: 5px 20px;
    }
    }
/*media queries end*/






